.advantage-item__title {
  @include font-text(30px, 1.1, $text-color-black, 700);
}

.advantage-item__desc {
  @include font-text(18px, 1.5, $text-color-second);
  letter-spacing: 0.2px;
}

.advantage-item__link {
  @include font-text(15px, 1.8, $text-color-link);
}

.advantage-item__title--color, 
.advantage-item__desc--color, 
.advantage-item__link--color {
  color: $text-color-white;
}

.advantage-item--color {
  background: $background-color;
}