#menu-toggle__input {
  display: none;
}

.menu-toggle {
  display: flex;
  align-items:center;
}

.menu-toggle__container {
  display: block;
  position: relative;

  width: 44px;
  height: 26px;
  z-index: 1;
}

.menu-toggle__button,
.menu-toggle__button::before,
.menu-toggle__button::after {
  display: block;
  position: absolute;
  height: 4px;
  background-color: $text-color-white;
}

.menu-toggle__button {
  width: 33px;
  top: 11px;
  left: 11px;
}

.menu-toggle__button::before {
  content: '';
  width: 44px;
  top: -9px;
  left: -11px;
}

.menu-toggle__button::after {
  content: '';
  width: 22px;
  height: 4px;
  top: 9px;
  left: 11px;
}