$width-phone: 523px;
$width-desktop: 1583px;
$font: 'Poppins';
$background-color: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
$background-color-button: #03D6F3;
$border-color-advantage-item: #DEDEDE;
$text-color-white: #FFFFFF;
$text-color-black: #000000;
$text-color-second: #5C5C5C;
$text-color-link: #03D6F3;
$text-color-button: #112D57;
$text-color-process: #30D7BA;
